<div class="row">
  <div class="col-sm-12">
    <h1><%= t('brand.welcome_head') %></h1>
      <div> <%= t('brand.welcome_message').html_safe %> </div>
    <%= render partial: 'shared/search', locals: {:search_url => "/search",
     :title => t('archive._plural'),
     :limit_options => [["#{t('actions.search')} #{t('search-limits.all')}",''], 
            [t('search-limit', :limit => t('search-limits.resources')),'resource'],
            [t('search-limit', :limit => t('search-limits.digital')),'digital_object']],
     :field_options => [["#{t('search_results.filter.fullrecord')}",''],
            ["#{t('search_results.filter.title')}",'title'],
            ["#{t('search_results.filter.creators')}",'creators_text'],
           ["#{t('search_results.filter.notes')}", 'notes'] ] } %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <br />
    <br />
    <p>Queens College Special Collections and Archives is the repository for over 5,000 linear feet of college records, special collections, and rare books. We preserve the institutional history of the college as well as the social and cultural contributions of its faculty and students. Our collection focuses include civil rights and social justice, politics and civic engagement, music, and print history.</p>
    <p>Please contact us at <a href='tel:718-997-3650'>718-997-3650</a> or <a href='mailto:QC.archives@qc.cuny.edu'>QC.archives@qc.cuny.edu</a> to learn more or to schedule an appointment.</p>
  </div>

</div>

