<div class="row">
  <div class="col-sm-12">
    <h1><%= t('brand.welcome_head') %></h1>
      <div> <%= t('brand.welcome_message').html_safe %> </div>
    <%= render partial: 'shared/search', locals: {:search_url => "/search",
     :title => t('archive._plural'),
     :limit_options => [["#{t('actions.search')} #{t('search-limits.all')}",''], 
            [t('search-limit', :limit => t('search-limits.resources')),'resource'],
            [t('search-limit', :limit => t('search-limits.digital')),'digital_object']],
     :field_options => [["#{t('search_results.filter.fullrecord')}",''],
            ["#{t('search_results.filter.title')}",'title'],
            ["#{t('search_results.filter.creators')}",'creators_text'],
           ["#{t('search_results.filter.notes')}", 'notes'] ] } %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h2>About the Archives</h2>
    <p>The Archives serves as the DeSales University institutional memory and documents the key activities of our history. It is a collaboration between Trexler Library and academic departments. Trexler contains the University Archives and special collections vital to the university’s history and the academic departments hold material essential to the documentation of student accomplishments.</p>

    <h2>Using this Site </h2>
    <p>You can search our collections by navigating to the Collections tab or using the “Search the Archives” search box. The entry for each collection is an archival finding aid, a descriptive inventory that includes information about the history, content, age, and format of the records.  The finding aids also include information about any restrictions on accessing the records. You can explore the Subjects or Names tabs for additional searching based on subject headings, names, or events. Lastly, if you are looking for material in a specific repository, navigate to the Repositories tab and choose between the University Archives and the academic departments.</p>

    <h2>More Information</h2>
    <p>For more information about the Archives, please visit our website. If you would like to schedule an appointment to review material, please complete this form.</p>
  </div>
</div>

