<div class="row">
  <div class="col-sm-12">
    <h1><%= t('brand.welcome_head') %></h1>
      <div> <%= t('brand.welcome_message').html_safe %> </div>
    <%= render partial: 'shared/search', locals: {:search_url => "/search",
     :title => t('archive._plural'),
     :limit_options => [["#{t('actions.search')} #{t('search-limits.all')}",''], 
            [t('search-limit', :limit => t('search-limits.resources')),'resource'],
            [t('search-limit', :limit => t('search-limits.digital')),'digital_object']],
     :field_options => [["#{t('search_results.filter.fullrecord')}",''],
            ["#{t('search_results.filter.title')}",'title'],
            ["#{t('search_results.filter.creators')}",'creators_text'],
           ["#{t('search_results.filter.notes')}", 'notes'] ] } %>
  </div>
  <div class="col-sm-12">
    <h2>Welcome to the Donald R. and Beverly J. Gerth Archives and Special Collections at CSUDH</h2>
    <p>The Gerth Archives and Special Collections contains manuscripts, photographs, publications, personal papers, rare books, ephemera, and other primary source material including institutional histories relating to CSUDH and the CSU System. The collection also contains material on South Bay Los Angeles history and African Americans; Japanese Americans; tradeswomen; and Dominguez Family history.</p>
    <p>Finding aids are guides to archival collections that contain detailed descriptions of a collection’s contents; dates; biographical or historical notes about the creator; subject coverage; and collection inventory. You may search or browse for finding aids and archival material located in our repositories using the search function on this page.</p>
    <p>Please note that creation of new and updated finding aids and records is ongoing. If you are looking for something and do not see it here, check the <a href='http://www.oac.cdlib.org/institutions/California+State+University,+Dominguez+Hills'>Online Archive of California</a> (OAC). If you have any questions, please contact us at: <a href='mailto:archives@csudh.edu'>archives@csudh.edu</a> or <a href="tel:3102433895">(310) 243-3895.</a></p>
    <p>For more detailed descriptions on how to use and search for archival material please consult our guides on <a href="https://libguides.csudh.edu/c.php?g=731504&p=5225558">Primary Source Discovery and Research</a>, and using a <a href='https://libguides.csudh.edu/c.php?g=731504&p=6332204'>Finding Aid.</a></p>
    <p>For information on accessing the Gerth Archives collections, please visit our <a href='https://www.csudh.edu/libarchives/'>webpage.</a></p>
    <p>For access to our digital collections, please consult our <a href='http://digitalcollections.archives.csudh.edu/digital/'>digital collection database.</a></p>
  </div>
</div>


