<div class="panel-footer">
	<div class="container-fluid footer">
  <div class="row-fluid">
  	<div class="col-sm-12">
    	<div class="col-sm-12">
        Benjamin S. Rosenthal Library | 65-30 Kissena Boulevard | Queens, NY 11367-1597 | <a href="https://library.qc.cuny.edu">Library Website</a>  
        <br />
        <br />
        Finding Aids made available under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.&nbsp;&nbsp;<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
        <br />
        <br />
      	<p>View <a href="<%= AppConfig[:frontend_proxy_url] %>">Staff Interface</a> | Visit <a href="http://archivesspace.org">ArchivesSpace.org</a> | <%= ASConstants.VERSION %> | Hosting by <a href="https://libraryhost.com">LibraryHost</a></p>
    	</div>
    </div>
  </div>
  </div>
</div>
