<div class="panel-footer">
	<div class="container-fluid footer">
  <div class="row-fluid">
  	<div class="col-sm-12">
    	<p>View <a href="<%= AppConfig[:frontend_proxy_url] %>">Staff Interface</a> | Visit <a href="http://archivesspace.org">ArchivesSpace.org</a> | <%= ASConstants.VERSION %> | Hosting by <a href="https://libraryhost.com">LibraryHost</a></p>
    </div>
  </div>
  </div>
</div>
