<div class="panel-footer">
	 <div class="row-fluid">
    <div class="span12">
    	<ul class="list-inline">
    		<li>
		    	<a href="https://alexlibraryva.org/client/en_US/home/?rm=SPECIAL+COLLEC3|||1|||0|||true&dt=list" target="_blank">For Research Assistance</a>
    		</li>
    		<li><p>717 Queen Street, Alexandria, VA 22314</p></li>
    		<li><p>703-746-1791</p></li>
    	</ul>

    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <p>View <a href="<%= AppConfig[:frontend_proxy_url] %>">Staff Interface</a> | Visit <a href="http://archivesspace.org">ArchivesSpace.org</a> | <%= ASConstants.VERSION %> | Hosting by <a href="https://libraryhost.com">LibraryHost</a></p>
    </div>
  </div>
</div>
